<!DOCTYPE html>
 <html>
 	<head>
 		<title>{{ page.title }}</title>
 		<!-- link to stylesheet -->
 		<link rel="stylesheet" type="text/css" href="/css/default.css" />
 		<link rel="stylesheet" type="text/css" href="/css/pretty_code.css" />
 		<link rel="alternate" type="application/atom+xml" href="http://danhixon.github.com/atom.xml" />
		<!-- add favicon-->
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
 	</head>
 	<body>
 		<div id="wrap">
 			<div id="header">
 				<p id="toplinks">
 
 				</p>
 
 				<h1><a href="/"><div id="logo"></div>路吉娜<span class="fade">Lujina</span></a></h1>
 				<div class="slogan">
 					<a href="/" class="pink">Home</a> :|: 
 					<a href="/blog" class="green">技术</a> :|: 
 					<a href="/about" class="orange">随想</a>
 				</div>
 			</div>
 		</div>
 		<div class="container">
 
 		{{ content }}
 
		</div><!-- /.container -->
 		<div id="footer">
 		<ul>
 			<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
 			<li><a href="https://github.com/lujina">github.com/lujina</a></li>
 			</ul>
 		</div>
 	</body>
 </html>
